[submodule "vim/pack/default/start/vim-airline"]
	path = vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/default/start/gruvbox"]
	path = vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox
