[submodule "vim/pack/default/start/vim-airline"]
	path = .vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/default/start/vim-solarized8"]
	path = .vim/pack/default/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/pack/default/.vim/pack/default/start/vim-airline-themes"]
	path = .vim/pack/default/.vim/pack/default/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/default/start/vim-airline-themes"]
	path = .vim/pack/default/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
